.container{
    margin: 20px;
}
ion-title{
    font-family: 'Montserrat-Bold' !important;
}
ion-content{
    font-family: 'Montserrat-Regular' !important;
}
.box{
    background-color: #f6b100;
    margin-top:80px  !important;
    width: 60%;
    padding: 5%;
    margin: auto;
    color: #000;
}
.judul{
    font-family: 'Montserrat-Regular';
    font-size: 12px;
}
.isi{
    font-family: 'Montserrat-Bold';
}