<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card class="box">
      <img src="../assets/icon/icon_profile.png" style="width: 120px;height: auto;"><br>
      <span class="judul">Nama</span><br>
      <span class="isi">Lienny Ferlinda </span><br/><br/>
      <span class="judul">NRP</span> <br/>
      <span class="isi"> C14180008 </span><br/><br/>
      <span class="judul">Email</span><br/>
      <span class="isi">c14180008@john.petra.ac.id</span><br/><br/>
      <span class="judul">No HP</span><br/>
      <span class="isi">081336703707</span><br/>
    </ion-card>
</ion-content>
