<ion-header>
  <ion-toolbar>
    <ion-title>Kritik & Saran</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="container">
    Aku kadang kesusahan ce kalo harus ngumpulin latihannya hari yang sama (setelah jamnya misal 20.30 pas gitu) soalnya pas live meet itu kadang masih sambil dengerin materinya.
    Sebelum kelas ini ada kelas lain yang selesainya mepet. Jadi, ngga bisa nyicil ndengerin videonya duluan. Terus kan alt+tab terus buat nyoba2nya kadang masih ada 
    error juga pas coba makanya jadi makin lama. 
    Apalagi kalo masih harus install2 gitu ce, kan harus nunggu e lumayan. Jadi, video 1 jam gitu misal isa2 selesai e 2 jam atau 1,5 jam. 
  
    <br/><br/>
    Thankyou ce, videone udah jelas sebener e pas ta tonton lagi pas ga buru2. Terus enak ditaruh di youtube dibuatin playlist juga jadi nyarie gampang ga perlu ngeklik i satu2 di 
    classroom buat nonton pas belajar. AMBW e juga lebih nda tertekan daripada Android hehe, selain apps e lebih enteng waktu kumpul e juga flexible kadang, 
    jadi lek gagal isa ta coba lagi besok e gitu ce sekalian melajari kenapa error.
  </ion-grid>
</ion-content>
