.container{
    margin: 5% 30%;
}
.box{
    background-color: #f6b100;
    margin-top:80px  !important;
    width: 60%;
    padding: 5%;
    margin: auto;
    color: #000;
    font-family: 'Montserrat-Medium';
}
ion-title{
    font-family: 'Montserrat-Bold' !important;
}
ion-content{
    font-family: 'Montserrat-Regular' !important;
}